
<mdb-navbar class="nav" SideClass=" navbar navbar-dark navbar-expand-md">


  <mdb-navbar-brand>
    <a class="navbar-brand" target="_blank" href="http://www.akgec.in">
      <img src="../../assets/images/akgec.png" height="35" alt="">
    </a>
  </mdb-navbar-brand>

  <links>


      <ul class="navbar-nav mr-auto">
      <li *ngIf = "homeStatus" class="nav-item active">
        <a  style="text-decoration: none; color: #000;" href="#home" class="nav-link waves-light" mdbWavesEffect>Home</a>
      </li>
      <li *ngIf = "homeStatus" class="nav-item">
        <a style="text-decoration: none; color: #000;" href="#about" class="nav-link waves-light" mdbWavesEffect>About</a>
      </li>
      <li *ngIf = "homeStatus" class="nav-item">
        <a style="text-decoration: none; color: #000;" href="#topics" class="nav-link waves-light" mdbWavesEffect>Topics</a>
      </li>
      <li *ngIf = "homeStatus" class="nav-item">
        <a style="text-decoration: none; color: #000;" href="#rules" class="nav-link waves-light" mdbWavesEffect>Rules</a>
      </li>
      <li *ngIf = "homeStatus" class="nav-item">
        <a style="text-decoration: none; color: #000;" href="#contact" class="nav-link waves-light" mdbWavesEffect>Contact Us</a>
      </li>
      <li *ngIf = "homeStatus" class="nav-item">
        <a style="text-decoration: none; color: #000;" href="#team" class="nav-link waves-light" mdbWavesEffect>Team</a>
      </li>
      <li *ngIf = "homeStatus" class="nav-item">
        <a style="text-decoration: none; color: rgb(230, 148, 18);" class="nav-link waves-light" (click)="caModal.show()" mdbWavesEffect><b>Campus Ambassador</b></a>
      </li>
    </ul>
    <ul class="navbar-nav">
    <li>
      <a href="https://drive.google.com/file/d/1gjT7D-0LMLaaUHawiMf_A9eOT2-SDwxP/view?usp=sharing" target="_blank" class="btn button btn-sm waves-effect waves-light" mdbWavesEffect>Synopsis <i class="fa fa-download" aria-hidden="true"></i></a>
    </li>
    <li>
      <app-sc-login *ngIf="!loginStatus && (phaseName?.currentPhase.phaseName === 'login-phase')"></app-sc-login>
    </li>
    <li>
      <app-sc-register *ngIf="!loginStatus && (phaseName?.currentPhase.phaseName === 'register-phase')"></app-sc-register>
    </li>
    <li>
      <a *ngIf="loginStatus && homeStatus" routerLink="dashboard"  class="btn button btn-sm waves-effect waves-light" mdbWavesEffect>Dashboard
        <i class="fa fa-sign-in ml-2"></i>
      </a>
    </li>
    <li>
    <a *ngIf="loginStatus" (click)="logout()" class="btn button btn-sm waves-effect waves-light" mdbWavesEffect>Logout
      <i class="fa fa-sign-in ml-2"></i>
    </a>
  </li>
</ul>
</links>
</mdb-navbar>


<div mdbModal #caModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="caModal.hide()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="text-center">
              <h3 style="font-weight: 700; color: rgb(255, 179, 57);">For More informaton Refer to our facebook page</h3>
              <h4 target="_blank" style="font-weight: 700;"><a href="https://www.facebook.com/scrolls2018/">here</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


