<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">
            <img src="../../assets/akgec.png" height="30" alt="">
        </a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li *ngIf = "homeStatus" class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>
            <li *ngIf = "homeStatus" class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Features</a>
            </li>
            <li *ngIf = "homeStatus" class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
            </li>
        </ul>
        <app-sc-login *ngIf="!loginStatus"></app-sc-login>
        <app-sc-register *ngIf="!loginStatus"></app-sc-register>
        <a *ngIf="loginStatus && homeStatus" routerLink="dashboard"  class="btn btn-info btn-sm waves-effect waves-light" mdbWavesEffect>Dashboard
            <i class="fa fa-sign-in ml-2"></i>
          </a>
        <a *ngIf="loginStatus" (click)="logout()" class="btn btn-info btn-sm waves-effect waves-light" mdbWavesEffect>Logout
            <i class="fa fa-sign-in ml-2"></i>
        </a>
    </links>
</mdb-navbar>
<!--/.Navbar-->
