.dash_heading{
    text-align: center;
    color:#fbc02d;
    font-weight: 700;
    margin-top: 10vh;
  }
  td {
    font-weight: 700;
  }
.number_of_reg {
  color: #59B8E8;
  text-align: center;
    font-weight: 700;
    margin-bottom: 10vh;
}
.heading {
  font-weight: 700;
  color: #59B8E8;
  font-size: 1.2rem;
}
span{
  font-weight: 700;
  font-size: 1.1rem;
}
p{
  font-weight: 400;
}
