<a class="btn btn-info btn-sm waves-effect waves-light" (click)="basicModal.show()" mdbWavesEffect>Login
    <i class="fa fa-sign-in ml-2"></i>
</a>
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="text-center">
                            <h1 class="Register_heading">LOGIN</h1>
                            <img style="width:25%;" class="mt-3 image-responsive" src="../../assets/login.svg" alt="">
                        </div>
                        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate >
                            <div class="md-form mb-1">
                                <label for="teamId">Team Id</label>
                                <input style="color: #808080;margin:0;" type="text" class="form-control" name="teamId" [(ngModel)]="model.teamId" #teamId="ngModel" [ngClass]="{ 'is-invalid': teamId.touched && teamId.invalid }" required>
                                <div *ngIf="teamId.touched && teamId.invalid " class="invalid-feedback">
                                    <div *ngIf="teamId.errors.required">Team Id is required</div>
                                </div>
                            </div>
                            <div class="md-form mb-1">
                                <label for="password">Password</label>
                                <input style="color: #808080;margin:0;" type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': password.touched && password.invalid }" required minlength="6">
                                <div *ngIf="password.touched && password.invalid" class="invalid-feedback">
                                    <div *ngIf="password.errors.required">password is required</div>
                                    <div *ngIf="password.errors.minlength">password a valid password</div>
                                </div>
                            </div>
                <div class="d-flex justify-content-center">
                    <button [disabled]="!f.form.valid" mdbBtn class="btn signupbutton waves-effect waves-light my-3" mdbWavesEffect>Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>