<div *ngIf="Loading" class="overlay">
  <img src="../../assets/images/loader.svg" class="loader image-responsive" alt="Loader">
</div>
<a class="btn button btn-sm waves-effect waves-light" (click)="basicModal.show()" mdbWavesEffect>Register
  <i class="fa fa-sign-in ml-2"></i>
</a>
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div style="text-align: center;" class="col-sm-12 col-md-6 col-lg-6">
            <h1 class="text-center Register_heading">REGISTRATION</h1>
            <img class="reg_img mt-3" src="../../assets/images/register_animated.svg" alt="">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <h2 class="text-center Team_heading mt-2">ENTER DETAILS</h2>

            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate >
              <div class="md-form mb-1">
                <label for="teamName">Team name</label>
                <input style="color: #808080;" type="text" class="form-control" name="teamName" [(ngModel)]="model.teamName" #teamName="ngModel" [ngClass]="{ 'is-invalid': teamName.touched && teamName.invalid }" required>
                <div *ngIf="teamName.touched && teamName.invalid " class="invalid-feedback">
                  <div *ngIf="teamName.errors.required">Team Name is required</div>
                </div>
              </div>
              <div class="md-form mb-1">
                <label for="email">Email ( Team Leader )</label>
                <input style="color: #808080;" type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': email.touched && email.invalid }" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required>
                <div *ngIf="email.touched && email.invalid" class="invalid-feedback">
                  <div *ngIf="email.errors.required">Email is required</div>
                  <div *ngIf="email.errors.pattern">Email a valid email</div>
                </div>
              </div>
              <div class="md-form mb-1">
                <label for="password">Password ( at least 8 characters )</label>
                <input (ngModelChange)="confirmPassword.control.updateValueAndValidity()" style="color: #808080;" type="password" id="password" required  class="form-control"
                name="password" [(ngModel)]="model.password"
                #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" minlength="8">
                <div class="help-block"
                *ngIf="(password.touched && password.errors?.required) || password.errors?.minlength">
                Invalid Password
              </div>
            </div>
            <div class="md-form mb-1">
              <label for="confirmPassword">Confirm Password</label>
              <input style="color: #808080;" type="password" name="confirmPassword" appConfirmEqualValidator="password" required
              id="confirmPassword" class="form-control"
              [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel">
              <span class="help-block"
              *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
              Confirm Password is required
            </span>
            <span class="help-block"
            *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual &&
            !confirmPassword.errors?.required">
            Does'nt match with Password
          </span>
        </div>
        <div class="md-form mt-3">
          <re-captcha [(ngModel)]="model.response" name="response" required siteKey="6Led_G0UAAAAANMfYD_VxWMmmN0C1m1-w0rwYSw2" #response="ngModel"></re-captcha>
        </div>
        <div [hidden]="response.valid || response.pristine" class="error">Captcha must be solved</div>
        <div class="d-flex justify-content-center">
          <button [disabled]="!f.form.valid" (click)="basicModal.hide()" mdbBtn class="btn signupbutton waves-effect waves-light" mdbWavesEffect>Sign up</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
<!-- Response Modal !-->
<button id="openModalButton" [hidden]="true" (click)="successModal.show()">Open Modal</button>
<div mdbModal #successModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel"></h4>
      </div>
      <div class="modal-body text-center">
        <div *ngIf="!gotError">
          <img style="width:20%;" src="../../assets/images/success_animated.svg">
          <div class="successText">{{responseMessage?.msg}}</div>
      </div>
      <div *ngIf="gotError">
          <img style="width:20%;" src="../../assets/images/fail_animated.svg">
          <div class="errorText">{{responseMessage?.error.msg}}</div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="primary" class="waves-light" aria-label="Close" (click)="successModal.hide()" mdbWavesEffect>Close</button>
      </div>
    </div>
  </div>
</div>
