<a class="btn btn-info btn-sm waves-effect waves-light" (click)="basicModal.show()" mdbWavesEffect>Register
  <i class="fa fa-sign-in ml-2"></i>
</a>
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <h1 class="text-center Register_heading">REGISTRATION</h1>
            <img class="mt-3 w-100" src="../../assets/akgec.png" alt="">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
              <h2 class="text-center Team_heading mt-2">ENTER DETAILS</h2>
              <div class="md-form mb-1">
                  <input type="text" class="form-control" mdbInputDirective>
                  <label data-error="wrong" data-success="right" for="orangeForm-name">Team name</label>
                </div>
                <div class="md-form mb-1">
                  <input type="email" class="form-control" mdbInputDirective>
                  <label data-error="wrong" data-success="right" for="orangeForm-email">Email ( Team Leader )</label>
                </div>
                <div class="md-form mb-1">
                  <input type="password" class="form-control" mdbInputDirective>
                  <label data-error="wrong" data-success="right" for="orangeForm-pass">Password ( atleat 6 characters )</label>
                </div>
                <div class="md-form mb-1">
                    <input type="password" class="form-control" mdbInputDirective>
                    <label data-error="wrong" data-success="right" for="orangeForm-pass">Confirm password</label>
                </div>
                <form #captchaProtectedForm="ngForm">
                    <re-captcha [(ngModel)]="formModel.captcha" name="captcha" required siteKey="6Led_G0UAAAAANMfYD_VxWMmmN0C1m1-w0rwYSw2" #captchaControl="ngModel"></re-captcha>
                    <div [hidden]="captchaControl.valid || captchaControl.pristine" class="error">Captcha must be solved</div>
                    <div [hidden]="!captchaControl.valid" class="success">Captcha is valid</div>
                    <div [hidden]="captchaProtectedForm.form.valid" class="error">The form must be filled out</div>
                    <div [hidden]="!captchaProtectedForm.form.valid" class="success">The form is valid</div>
                    <button (click)="formModel.captcha = ''">Reset Captcha</button>
                  </form>
              <div class="d-flex justify-content-center">
                <button mdbBtn class="btn signupbutton waves-effect waves-light" mdbWavesEffect>Sign up</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>